<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">

	<div class="menu_dropdown bk_2">
		<dl >
			<dt ><i class="Hui-iconfont">&#xe667;</i>校友管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt >
			<dd id="xiaoyouliebiao">
				<ul>
					<li><a href="{:url('Alumnullist/index')}">校友列表</a></li>
				</ul>
			</dd>
		</dl>

		<dl>
			<dt><i class="Hui-iconfont">&#xe63b;</i>邮件管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{:url('Alumnullist/index')}">校友列表</a></li>
				</ul>
			</dd>
		</dl>

		<dl>
			<dt><i class="Hui-iconfont">&#xe696;</i>短信管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{:url('Alumnullist/index')}">校友列表</a></li>
				</ul>
			</dd>
		</dl>

		<dl>
			<dt><i class="Hui-iconfont">&#xe66d;</i>捐赠管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{:url('Alumnullist/index')}">校友列表</a></li>
				</ul>
			</dd>
		</dl>
		
		<dl>
			<dt><i class="Hui-iconfont">&#xe61d;</i>权限设置<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{:url('Alumnullist/index')}">校友列表</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>
<!--/_menu 作为公共模版分离出去-->